*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
   
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    font-family: 'poppins' , sans-serif;
   background: black;
   width: 100%;
}


.logo{
    color: blanchedalmond;
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
   font-size: 2rem;
    letter-spacing: 4px;
}

ul{
       display: flex;
}

li{
width: 8rem;
list-style-type:none;
}

li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: tomato;
   
}

/* this is intro section style */
.flex-container{
    display: grid;
   grid-template-columns: 1fr 1fr;
}

.column-introduction{
    padding: 2rem;
    background-color: wheat;
  
}
.column-introduction h1{
    font-size: 5rem;
    color: tomato;
    font-family: 'poppins', sans-serif;
text-shadow: 5px 5px 5px   rgb(190, 165, 165);
}
.column-introduction p{
    padding-top: 1.5rem;
    line-height: 30px;
    font-size: 1rem;
    color: rgba(128, 128, 128, 0.562);
}
.column-intro-image{
    background-color: wheat;
    padding: 2rem;
    overflow: hidden;
}

.column-intro-image img{
    width: 100%;
    height: 100%;
}

/* cuisine section */




















